.claude
.agents
out
dist
bundle
node_modules
coverage
.tmp
.vscode-test/
*.vsix
*.psd
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
docs
*.md
!README.md
!README_CN.md
!CHANGELOG.md
