.git/**
.github/**
.claude/**
.vscode/**
.vscode-test/**
assets/*.gif
out/test/**
src/**
scripts/**
dist/**
docs/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
eslint.config.mjs
**/*.md
!README.md
!README_CN.md
!CHANGELOG.md
*.psd
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.test.*
AGENTS.md
